@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Oswald:wght@200;300;400&display=swap');



:root {
    --primary-color:#00A6A6;
    --secondary-color: #EFCA08;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    list-style: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* HEADER */ 

.header {
    background: url('assets/images/banner_image.jpg');
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgb(0 0 0 / 25%)
}

/*NAVBAR*/


nav ul {
    position: absolute;
    width: 100%;
    height: calc(100%);
    left: 0;
    top: 70px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 9999;
  }

  nav ul.open {
    max-height: 100%;
    overflow: visible;
    min-height: 300px;
  }

nav ul li {
    padding: 25px;
    text-align: center;

}


nav ul li a{
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.navbar ul {
    display: block;
    justify-content: center;
}




.navbar {
    color: white;
    height: 70px;
    transition: 0.6s;
}


.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

nav ul li a{
    font-size: 22px;
    letter-spacing: 1px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-toggler {
    display: block;
}


.nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    border-radius: 2px;
}

.nav-toggler span, .nav-toggler span:before, .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .navbar .flex {
    justify-content: space-between;
}


/*SHOWCASE*/


.showcase {
    height: 500px;
    margin-bottom: 270px;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
    text-align: center;
    margin-top: 40px;
    
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: #333;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
}


/*PRESENTATION*/


.wrapper-section {
    background-color: var(--primary-color);
    box-shadow: 10px 5px 5px red;
}

.wrapper-section:nth-child(2) {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(239,202,8,1) 0%, rgba(255,255,255,1) 100%);
}

.image {
    width: 320px;
    overflow: auto;
    border-radius: 10px;
}

.image img {
    border-radius: 10px;
}


#main h1, #main p {
    color: white;
}

section {
    margin-bottom: 54px;
}


/*UTILITIES*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-reverse {
    flex-direction: column-reverse
}

.margin {
    margin: 24px 0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--secondary-color);
    color: #333 ;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #EFCA08;
    color: #333;
    border: none;
    border-radius: 5px;
    transition: 0.3s;

}

.btn-outline {
    background-color: transparent ;
    border: 2px solid #333;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--primary-color);
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* ANIMATIONS */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}



/* TABLETS AND UNDER */
@media(min-width: 768px) {
    .grid,
    .showcase .grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .flex-reverse {
        flex-direction: row-reverse;
    }
 
    .showcase {
        height: auto;
        margin-bottom: 130px;
    }

    .showcase-text {
        text-align: inherit;
        margin-top: 40px;
    }

    .showcase .grid {
        overflow: visible;
        grid-template-columns: 55% 45%;
        gap: 30px;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
    }

    nav ul {
        position: relative;
        left: 0;
        top: 0;
        flex-direction: row;
        align-items: center;
        background-color: var(--primary-color);
        max-height: 0;
        overflow: visible;
        transition: .3s;
        z-index: 9999;
      }
    

    nav ul li {
        padding: 0px;
    }

    .nav-toggler {
        display: none;
    }


/*     
    .image {
        width: 320px;
        height: 480px;
        overflow: auto;
        border-radius: 10px;
    } */


    #main p {
        line-height: 34px;
        font-size: 20px;
        text-align: justify;
    }
    

    .presentation div {
        width: 33,333%;
    }
    
    .presentation p {
        width: 66.666%;
    }

    .margin {
        margin: 24px;
    }


    #main .container .flex {
        align-items: flex-start;
    }


}


@media(min-width: 884px) {
    #main p {
        line-height: 48px;
    }
    
}
